
/*  slider CSS stuff starts here */
.item 
{
	display:block;
	width:982px;
	height:234px;

}

#num_nav
{
height:20px;
float:right;
margin-right:20px;
padding-top:0px;
}

#num_nav ul
{
margin-top:0px;
}

#num_nav li 
{
	display:inline;
	/*margin:2px;*/

}

#num_nav li a 
{
	background-color:#1398eb;
	border:1px solid #fff;
	width:18px;
	height:16px;
	font:0.98em verdana,Arial, Helvetica, sans-serif;
	float:left;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding-top:2px;
	margin-left:5px;
}

#num_nav li a.active 
{
	color:#000;
}

#num_nav a:hover 
{
	color:#000;
}

#play_btn 
{
	background-color:#1398eb;
	border:1px solid #fff;
	width:18px;
	height:16px;
	font:0.98em verdana,Arial, Helvetica, sans-serif;
	float:left;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding-top:2px;
	

}

#play_btn:hover {
	text-decoration:none;
	text-align:center;
	color:#fff;
}


/*.....................*/


#container
{
	margin:0 auto;
	width:982px;
	height:301px;
}

.f1
{
	width:982px;
	height:30px;
	background:url(../images/index4.jpg) no-repeat top;
	float:left;
	clear:both;
}


.f3
{
	width:982px;
	height:36px;
	background:url(../images/index6.jpg) no-repeat top;
/*	margin-top:0px !important;
	margin-top:-35px;*/
	float:left;
	clear:both;
}

.f2
{
background:url(../images/header-middle1.jpg) no-repeat;
width:982px;
height:235px;
float:left;
}

.sliderdiv
{
	position: relative;
	width:960px;
	height:235px;
	padding:0px 5px 0px 5px;
	overflow: hidden;
	/*background:url(../image/header-middle.jpg) no-repeat;*/
	float:left;
	clear:both;
	margin-left:4px;
}
.numdiv
{
	width:180px;
	height:36px;
/*	margin-top:6px;*/
	float:right;
	padding-top:4px;
}
